/* Barra de navegacion */

.navbar {
  padding: 1rem;
  background-color: #D6FCEA;
  font-size: 25px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  padding: 5px;
}

.btn-primary {
  font-size: 1.5rem;
  margin: 20px;
  font-weight: bold;
}


/* seccion hero o principal */



.hero {
  background-color: #024b30;
  min-height: 450px;
  text-align: center;
  color: #18995D;
}

.hero-principal {
  padding: 3rem 3rem 0 3rem;
}


.estilo {
  background-color: #18995D;
  color: #024b29;
  border-radius: 10px;
}

.post-1 {
  border-radius: 10px;
}

.text-1 {
  color: black;
}

.hero-principal h5 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: #D6FCEA;
}

footer{  
  height: 150px;
  padding: 1rem;
  background-color: #D6FCEA;
  color: #024b29;
}

.pie-pagina {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.copy{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

/* adaptable responsive */


@media screen and (max-width: 760px) {
  .navbar-brand {
    display: none;
  }
}

